:root {
	--none: 0;
	--xxxs: 0.01em;
	--xxs: 0.25em;
	--xs: 0.5em;
	--sm: 0.75em;
	--md: 1em;
	--lg: 1.25em;
	--xl: 1.5em;
	--xxl: 1.75em;
	--xxxl: 2em;
	--full: 100%;
	--border-size: 2px;

	--color_1: 34, 150, 243;
	--color_2: 255, 193, 7;
	--color_3: 220, 53, 69;
	--alpha_val: 0.5;

	--c-black: #151515;
	--c-gray-dark: #3e3e3e;
	--c-white: #ffffff;
	--c-gray: #8a8a8e;
	--c-high: #ee355e;
	--c-text: #ffffff;
	--thumb: calc( var(--xxxl) * 12);
	--sidebar_width: min(calc(  var(--thumb) * 0.75 ), 100%);
	--icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.908-7.416 3.908 1.48-8.279-6.064-5.828 8.332-1.151z"/></svg>');

	--dur: 0.75s;
	--dur-spin: 1s;
	--ease: cubic-bezier(0.34, 1.56, 0.64, 1);
	--trans: all var(--dur) var(--ease);

	--alpha-low: 0.1;
	--alpha-med: 0.5;
	--alpha-high: 0.9;
}

*{

	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: var(--c-gray);
	font-weight: 100;
	font-size: var(--md);
	line-height: var(--lg);

	&, &:before, &:after{
		margin: var(--none);
		padding: var(--none);
		box-sizing: border-box;
		outline: none;
		-webkit-tap-highlight-color: transparent;
		transition: var(--trans);
		line-height: var(--lh);
	}
}

::selection {
	background: var(--c-high);
	color: var(--c-white);
	border-radius: var(--md);
	corner-shape: squircle;
}

::-webkit-scrollbar {
	border-radius: var(--md);
	corner-shape: squircle;
	width: var(--xs);
	height: var(--xs);
	background: var(--c-bg-gray-dark);
}
::-webkit-scrollbar-track {
	background: var(--c-bg-gray-dark);
}
::-webkit-scrollbar-thumb {
	background: var(--c-gray-dark);
	border-radius: var(--md);
	corner-shape: squircle;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--c-high);
}

body {
	background-color: var(--c-black);
	color: var(--c-gray);
	display: flex;
	height: 100vh;
	overflow: hidden;
	font-size: 16px;
}
a{cursor: pointer;
	text-decoration: none;
	color: var(--c-white);
	font-size: var(--md);
		user-select: none;
	.icon{
		color: var(--c-high);
	}
	&:hover, &:focus, &.active{
		color: var(--c-high);
	}

}
.hidden{
	display: none;

}

.button{cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: left;
	gap: var(--sm);
	padding: var(--sm);
	border-radius: var(--xxl);
	corner-shape: squircle;
	text-decoration: none;
	margin: 0;
	background-color: transparent;
	color: var(--c-gray);
	.title{
		color: var(--c-text);
		font-size: var(--md);
	}
	&:before{
		content: '';
		background-color: var(--c-gray-dark);
		font-size: var(--md);
		display: block;
		height:var(--xl);
		width: var(--xs);
		border-radius: var(--xxl);
		corner-shape: squircle;
		margin-right: var(--xs);

	}
	.icon {
		color: var(--c);
		font-size: var(--md);
	}
	&:hover, &:focus, &.active {
		background-color: var(--c-gray-dark);
		border-color: var(--c-high);
		&:before{

			margin-right: var(--xxs);
			background-color: var(--c-high);
			box-shadow: 0 0 var(--xs) var(--c-high);
		}

		.title{
			color: var(--c-text);
			text-shadow: 0 0 var(--xs) var(--c-text);
		}

		.icon {
			color: var(--c);
			text-shadow: 0 0 var(--xs) var(--c);
		}


	}
}
.sidebar {
	width: var(--sidebar_width);
	background-color: var(--c-black);
	display: flex;
	flex-direction: column;
	padding: var(--xxxl);
	border-right: calc(var(--border-size) / 2) solid rgba(var(--c-white), 0.05);
	overflow-y: auto;


	.page-header {
		margin-bottom: var(--xxxl);


		h1 {
			font-size: var(--xl);
			display: flex;
			align-items: center;
			gap: var(--md);
			margin-bottom: var(--xl);
			color: var(--c-white);

			.icon {
				color: var(--c-high);
				font-size: calc(var(--xxl));
			}

			.title {
				line-height: 1.2;
			}
		}

		p.intro {
			color: var(--c-gray);
			font-size: 14px;
			line-height: 1.6;

			strong, b {
				color: var(--c-white);
			}
		}
	}

	.categories {
		flex: 1;
	}
	footer {
		margin-top: var(--xxxl);
		padding-top: var(--xl);
		border-top: calc(var(--border-size) / 2) solid rgba(var(--c-white), 0.1);

		ul.socials {
			list-style: none;
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			gap: var(--sm);
			margin: 0;
			padding: 0;

			li {

			}
		}
	}
}

.main{
	overflow-y: auto;
	max-height: 100vh;
	width: calc(100% - var(--sidebar_width));
	padding: var(--xxxl);
	background-color: var(--c-black);

	.header {
		.topbar {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: var(--lg);
			position: sticky;
			h2 {
				font-size: var(--xl);
				color: var(--c-white);
			}
			.search-filter-container {
				.search-filter-bar {
					display: flex;
					gap: var(--md);
					background: var(--c-gray-dark);
					padding: var(--xs) var(--xl);
					border-radius: var(--xxl);
					align-items: center;
					span.icon { color: var(--c-gray); }
					input { background: none; border: none; color: var(--c-white); outline: none; }
				}
			}
		}
		.gallery-intro { margin-bottom: var(--xxxl); line-height: 1.6; }
	}
	.search-filter-container {
		padding: var(--xxxl);
		background-color: var(--c-black);
		border-bottom: calc(var(--border-size) / 2) solid rgba(var(--c-white), 0.05);


		.search-filter-bar {
			display: flex;
			gap: var(--md);
			max-width: 800px; /* Adjust as needed */
			margin: 0 auto;
			input[type="text"],
			select {
				flex: 1;
				padding: var(--sm) var(--md);
				border: 1px solid var(--c-gray-dark);
		border-radius: var(--xxl);
		corner-shape: squircle;
				background-color: var(--c-gray-dark);
				color: var(--c-white);
			}

			input[type="text"]::placeholder {
				color: var(--c-gray);
			}
		}
	}
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(var(--thumb), 1fr));
		gap: var(--xxxl);
		padding-top: var(--xl);

		.thumb-title{
			display: flex;
			align-items: center;
			gap: var(--lg);
			color: var(--c);
			font-size: var(--xl);
			a{
				color: var(--c);
				display: flex;
				align-items:center;
				gap: var(--sm);
			}
			.thumb-icon {
				border-radius: var(--xxl);
				corner-shape: squircle;
				background-color: var(--c-high);
				background-image: var(--icon);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				padding: 0;
				margin: 0;
				aspect-ratio: 1;
				display: block;
				width: var(--xxl);
				height: var(--xxl);
			}
		}

		.thumb {
			position: relative;
			aspect-ratio: 4 / 3;
			border-radius: var(--xxl);
			corner-shape: squircle;
			overflow: hidden;
			background: var(--c-gray-dark);
			.thumb-header{
				width: 100%;
				height: 100%;
				position: absolute;
				.thumb-image {
					position: absolute;
					inset: var(--none);
					z-index: 10;
					background-color:var(--c-gray-dark);
					img {
						width: var(--full);
						height: var(--full);
						object-fit: cover;
					}
					&:before {
						content: '';
						position: absolute;
						inset: var(--none);
						z-index: 2;
						background: linear-gradient(to top, var(--c-black) 0%, transparent 100%);
					}
				}
				.thumb-title{
					position: absolute;
				padding: var(--lg);
					bottom:0;
					left: 0;
					z-index: 20;
				}
			}
			.thumb-content {
				position: absolute;
				z-index: 3;
				height: var(--full);
				width: var(--full);
				padding: var(--lg);
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				overflow: auto;
				gap: var(--md);
				overflow-y: auto;


				&:before {
					content: '';
					position: absolute;
					inset: var(--none);
					z-index: 0;
					background: linear-gradient(to top, var(--c-black) 0%, transparent 100%);
				}


				.thumb-title,.thumb-description, .thumb-buttons {
					opacity: var(--none);
					transform: translateY(var(--md));
					pointer-events: none;
				}
				.thumb-description { font-size: 14px; line-height: 1.5; color: var(--c-grey); }
				.thumb-buttons ul {
					list-style: none;
					display: flex;
					flex-direction: column;
					gap: var(--xs);
					.view-btn {
						background: var(--c-white);
						color: var(--c-black);
						justify-content: center;
						font-weight: 800;
						&:hover { background: var(--c-high); color: var(--c-white); }
					}
					.info-btn { font-size: 12px; justify-content: center; opacity: 0.6; }
				}
			}
			/* Hover state */
			&:hover {
				.thumb-header{
					.thumb-image {
						z-index: 0;
						img {
							filter: blur(8px);
							transform: scale(1.08);
						}
					}

					.thumb-title{
						z-index: 0;
						opacity: 0;
						transform: translateY(var(--md));
					}
				}
				.thumb-overlay { background: rgba(0,0,0,0.7); }
				.thumb-content {
					.thumb-title,.thumb-description, .thumb-buttons { opacity: 1; transform: translateY(var(--none)); pointer-events: all; }
				}
			}
		}
	}
}